<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<title>
			用户登录
		</title>
		<script>
			window.onresize = function(){
				getscreen();
			}
			
			function getscreen(){
				var screenWidth = document.documentElement.clientWidth;
				if(screenWidth>750){
					screenWidth=750
				}
				document.documentElement.style.fontSize = (100/750) * screenWidth + 'px';
			}
			getscreen();
		</script>
		<link rel="stylesheet" href="/public/static/index/css/style.css?t=201766" />
		<link rel="stylesheet" href="/public/static/index/css/register.css?t=201766" />

		<script type="text/javascript" src="/public/static/index/js/jquery-2.1.0.js" ></script>
	</head>
	<body>
		<div class="login_box">						
			<label class="user">
				<input type="text" name="user" placeholder="请输入用户名" maxlength="11" value="17602150413"/>
				<i></i>
			</label>
			<div class="pass">
				<input type="tel" name="pass" maxlength="6" placeholder="请输入验证码" />
				<label class="code_click" for="code">
					获取验证码
				</label>
				<i></i>
			</div>
			<p class="errortips">
				<span></span>
			</p>
			<div class="login_btn">
				登录
			</div>
			<div class="code_box">
				<div class="cover"></div>
				<div class="code_box_content">
					<div class="codeimg"><img src="/index/login/veri"/></div>
					<input type="tel" id="code" maxlength="4"/>
					<div class="code_btn">
						确定
					</div>
				</div>
				
			</div>
		</div>
		<script type="text/javascript">
			var imgURL ='{:url("/index/login/sendSms")}';
			var URL ='{:url("/index/login/login")}';
		</script>
		<script type="text/javascript" src="/public/static/index/js/register.js?20171109" ></script>
	</body>
</html>
