.swiper {
  overflow: hidden;
  transition: all 0.3s ease;
}
.item {
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  float: left;
}
.item img{width: 100%;display: block;height:3.2rem;}
.swiper{height: 3.2rem;}
.swiper-container{
  position: relative;
  overflow: hidden;
  height:31%;
  width:100%;
}
/*.indicator i.dot{
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}
.swiper-container .indicator{
  position: absolute;
  right:10px;bottom:5px;
}
.indicator .dot{margin-right:5px;}*/