<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<title>
			{$title}
		</title>
		<script>
			window.onresize = function(){
				getscreen();
			}
			
			function getscreen(){
				var screenWidth = document.documentElement.clientWidth;
				if(screenWidth>750){
					screenWidth=750
				}
				document.documentElement.style.fontSize = (100/750) * screenWidth + 'px';
			}
			getscreen();
		</script>
		<link rel="stylesheet" href="/public/static/index/css/style.css?t=201766" />
		<link rel="stylesheet" href="/public/static/index/css/swiper.css" />
		<link rel="stylesheet" href="/public/static/index/css/index.css" />
		<style type="text/css">
			html{height: 100%;}
			body{background:#f0f0f0;height: 100%;}
			.product li{background: #fff;}
		</style>
		
	</head>
	<body>
		
			<div class="swiper-container">
				
			    <div class="swiper">
			        {volist name="data['banner']" id="vo" empty="暂时没有数据" }
			        	
						<div class="item">
							<a href="javascript:;" class="go_next" ref="{$vo['jump_url']}">
								<img src="{$data['pic'][$vo['p_pic']]}">
							</a>						
						</div>
						
					{/volist}  
			    </div>			   
			</div>
			<div class="_line"></div>
			<ul class="product">
				
                {volist name="data['prodlist']" id="vo1" empty="暂时没有数据" }

						<li>
		                    <a href="javascript:;" class="go_next" ref="{$vo1['jump_url']}">
		                        <img src="{$data['pic'][$vo1['p_pic']]}">
		                        <div class="proinfor">
		                            <p class="title">{$vo1['p_name']}</p>
		                            <p class="proinfordetail">
		                            	<span>额度：{$vo1['limit_min']}-{$vo1['limit_max']}元</span>
		                            	<span>期限：{$vo1['deadline_min']}-{$vo1['deadline_max']}{$vo1['deadline_type1']}</span>
		                            </p>                            
		                        </div>
		                    </a>
		                </li>	
					
				{/volist}  
                
			</ul>
			<div class="loadmore">
				加载更多
			</div>
			<div class="notamore">
				没有更多了
			</div>
			<div class="loading">
				<img src="/public/static/index/img/load.gif"/>
			</div>
			<div class="footer"></div>			
			<footer class="flexBox">
				<div class="flex" title="/index/index/index">
					<a href="javascript:;">首页</a>
				</div>
				<div class="flex" title="/index/prod/managemoney">
					<a href="javascript:;">理财</a>
				</div>
				<div class="flex focus" title="/index/prod/index">
					<a href="javascript:;">贷款</a>
				</div>
				<div class="flex" title="/index/user/index">
					<a href="javascript:;">我的</a>
				</div>				
			</footer>			
			<script type="text/javascript" src="/public/static/index/js/jquery-2.1.0.js" ></script>
			<script type="text/javascript" src="/public/static/index/js/swiper.js" ></script>
			<script type="text/javascript" src="/public/static/index/js/common.js" ></script>
			<script type="text/javascript">
				var mySwiper = new Swiper ({direction:'horizontal'});
			</script>
	</body>
</html>
